apiVersion: v1
kind: Service
metadata:
  name: node-backend-service
spec:
  type: NodePort
  selector:
    app: node-backend
  ports:
    - protocol: TCP
      port: 5051
      targetPort: 5051
      nodePort: 30051   # Optional (K8s will auto-assign if removed)
