name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build backend Docker image
      run: |
        cd StudentManagement-main/backend
        docker build . \
          --file Dockerfile \
          --tag my-backend-image:$(date +%s)
